.banner {
  width: 90vw;
  height: 60vh;
  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2rem auto;
  border-radius: 10px;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-text {
  text-align: center;
}

.search {
  margin: 3rem auto 5rem;
  width: 60vw;
  height: 3rem;
}

.product-list {
  width: 90vw;
  margin: 0 auto;
}

.product-list-title {
  margin: 0 auto;
  text-align: center;
}

.card {
  width: 15rem;
  transition: all 0.2s;
}

.card-title {
  font-size: 1rem;
}

.badge {
  padding: 0.25rem;
}

.card-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.card:hover {
  box-shadow: 12px 12px 24px var(--shadow-dark),
    -12px -12px 24px var(--shadow-light);
}

.text-btn {
  width: 100%;
}
